:root {
  --primary-color: rgb(110, 155, 206);
  --secondary-color: grey;
  --border-radius: 3px;
}   



.App {
  text-align: center;
  font-family: 'Lato', sans-serif;
  background-color: var(--primary-color);
  min-height: 100vh;
  display: grid;
  grid-template-areas: "main" "navigation";
  grid-template-rows: 1fr 100px;
  z-index: -1 !important;
}

/* Padding around pages */
.view
{
  margin-top: 30px;
}

.view-form
{
  margin-top: 50%;
}

/* defines the page as a CSS Grid that sits behind the navigation bar */
main {
  grid-area: main;
  height: 100%;
  z-index: -1 !important;
}

/* Navigation menu is set layers above the main content and is fixed to the bottom */
navigation {
  background-color: var(--primary-color);
  grid-area: navigation;
  z-index: 50 !important;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.nav{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-self: center;
  align-content: center; 
}

.nav button{
  margin-right: 10px;
  align-self: center;
  background-color:var(--secondary-color);
  width: 100px;
  padding: 2px;
  border-radius: var(--border-radius);
  box-shadow: 4px 4px;
  
}

.nav-button-group{
  place-self: center;
  margin-left: 1.9em;
  }

logo{
  grid-column: 2 / 2;
  align-self: center;
}

heading {
  padding-top: 300px;
  margin: 15px;
  font-size: 2rem;
  text-shadow: 2px 2px var(--secondary-color);
}



/* Forecast area */
.forecast {
  margin: auto;
  text-align: center;
  font-size: 14px;
  display: grid;
  align-items: center;
  width: 90%;
  grid-template-columns: 1fr 100px;
  }

forecast-title {
  font-weight: 700;
}

click-prompt, click-prompt div {
  padding-top: 15px;
  text-align: left;
  margin-left: 1.3em !important; 
  font-size: 12px;
  font-style: italic;
}

#forecast-summary, #forecast-detail, #forecast-headline p {
  grid-column: 1/3;
}

.forecast-info {
  grid-column: 1/3;
  text-align: left;
  margin: 0 20px;
}

#forecast-headline{
  font-size: 14pt;
}

#forecast-summary, #forecast-detail {
  text-align: left;
}
.forecast p {
  grid-column: 1 / 2;
}

.forecast img{
  width: 100px;
  grid-column: 2 / 2;
  
}


/* form */
.standard-form form {
  margin: 0 30px;
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
}

.standard-form input {
  margin: 10px;
  grid-column: 1;
  width: 90%;
  padding: 2px;
  border-radius: var(--border-radius);
  box-shadow: 2px 2px;
}

.standard-form button {
  align-self: center;
  background-color: var(--secondary-color);
  width: 60%;
  padding: 2px;
  border-radius: var(--border-radius);
  box-shadow: 4px 4px;
}

.standard-form textarea {
  grid-column: 1;
  margin: 10px;
  height: 150px;
  width: 90%;
  padding: 2px;
  resize: none;
  border-radius: var(--border-radius);
  box-shadow: 2px 2px;
}


/* Tablet */
@media screen and (min-width: 650px) and  (max-width:1023px) {
  /* Navigation  */

  .nav-button-group{
    justify-self: right;
    align-self: center;
  }

  .nav button{
    margin-top: 0px;
    margin-right: 40px;
    width: 130px;
    justify-self: end;
  }

  /* Logo */
  logo{
    justify-self: left;
  } 

  /* Padding around pages */
  .view
{
  margin-top: 12vh;
}
  
.view-form
{
  margin-top: 15vh;
  padding: 20vw;
}

/* Forecast */
  .forecast {
    width: 60%;
  }

}

/* Desktop*/
@media screen and (min-width: 1024px) {
  
  /* forecast */
  .forecast {
    align-items: center;
    width: 90%;
    grid-template-columns: 6fr 1fr;
   }
  
  
   /* Navigation */
  .nav-button-group{
    justify-self: right;
    align-self: center;
  }
  .nav{
    grid-template-columns: 7fr 5fr;
  }


  .nav button{
    margin-top: 0px;
    margin-right: 40px;
    width: 200px;
    justify-self: end;
  }

  /* Padding around pages */
  .view
{
  margin-top: 12vh;
}
  
.view-form
{
  margin-top: 0;
  padding: 15% 20vw;
}






logo{
  
  justify-self: left;
}


/* form */
.standard-form {
  width: 60%;
  margin: auto;
}



/* Forecast information */
.forecast {
  width: 50%;
}

#forecast-summary {
  text-align: center;
  margin-right: 70px;
}

.forecast-info {
  margin: 0 60px;
}

click-prompt, click-prompt div {
  padding-top: 25px;
  text-align: center;
}


}