body{
  /* overflow: hidden; */
}

.App {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

a:link {
  text-decoration: none;
}


.App {
  background-color: rgb(110, 155, 206);
  min-height: 100vh;
  display: grid;
  grid-template-areas: "main" "navigation";
  grid-template-rows: 1fr 100px;
  z-index: -1 !important;
}
main {
  /* background-color: #F8BBD0; */
  grid-area: main;
  height: 100%;
  z-index: -1 !important;
}

navigation {
  /* background-color: #7E57C2; */
  background-color: rgb(110, 155, 206);
  grid-area: navigation;
  z-index: 50 !important;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.nav{
  text-decoration: none;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  /* z-index: -1 !important;
  position: relative; */
  align-self: center;
  align-content: center;
  
}

.nav button{
  margin-top: 38px;
  margin-right: 5px;
  /* padding: 0.5em; */
  align-self: center;
  background-color: aquamarine;
  /* border: steelblue 10px; */
  /* margin: 5%; */
  width: 40%;
  padding: 2px;
  border-radius: 3px;
  box-shadow: 4px 4px;
}
logo{
  grid-column: 2 / 2;
  align-self: center;
}

heading {
  margin: 15px;
  font-size: 2rem;
}

.forecast {
  margin: auto;
  text-align: center;
  font-size: 12px;
  display: grid;
  align-items: center;
  width: 90%;
  grid-template-columns: 1fr 100px;
  /* grid-template-rows: 1fr; */
}

#forecast-summary, #forecast-detail, #forecast-headline p {
  grid-column: 1/3;
}

.forecast-info {
  grid-column: 1/3;
}


#forecast-headline{
  font-size: 14pt;
}

#forecast-summary, #forecast-detail {
  text-align: left;
}
.forecast p {
  grid-column: 1 / 2;
}

.forecast img{
  width: 100px;
  grid-column: 2 / 2;
  
}

/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
} */
/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
/* 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
/* 
.App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
